USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 21/08/2022 11:22:41 PM ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[Absent]    Script Date: 21/08/2022 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absent](
	[abid] [int] NOT NULL,
	[eid] [int] NOT NULL,
	[fromdate] [date] NOT NULL,
	[todate] [date] NOT NULL,
	[reason] [nvarchar](150) NULL,
	[isCheck] [bit] NULL,
 CONSTRAINT [PK_Absent] PRIMARY KEY CLUSTERED 
(
	[abid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 21/08/2022 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] NOT NULL,
	[ename] [nvarchar](150) NOT NULL,
	[pid] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 21/08/2022 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[pid] [nvarchar](150) NOT NULL,
	[pname] [nvarchar](150) NOT NULL,
	[basesalary] [float] NOT NULL,
	[allowancesalary] [float] NOT NULL,
	[insurance] [float] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 21/08/2022 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[tid] [int] NOT NULL,
	[eid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Absent] ([abid], [eid], [fromdate], [todate], [reason], [isCheck]) VALUES (1, 2, CAST(N'2022-01-01' AS Date), CAST(N'2022-01-01' AS Date), N'Đi du lịch cùng công ty', 1)
INSERT [dbo].[Absent] ([abid], [eid], [fromdate], [todate], [reason], [isCheck]) VALUES (2, 2, CAST(N'2022-02-01' AS Date), CAST(N'2022-02-05' AS Date), N'Tết nguyên đán', 1)
INSERT [dbo].[Absent] ([abid], [eid], [fromdate], [todate], [reason], [isCheck]) VALUES (3, 3, CAST(N'2022-01-01' AS Date), CAST(N'2022-01-01' AS Date), N'Đi du lịch cùng công ty', 1)
GO
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (1, N'Đào Văn Chỉnh', N'GD')
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (2, N'Nguyễn Thị Năm', N'KT')
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (3, N'Đào Đình Cử', N'LX')
GO
INSERT [dbo].[Position] ([pid], [pname], [basesalary], [allowancesalary], [insurance]) VALUES (N'BH', N'Bán hàng', 4194400, 970000, 440412)
INSERT [dbo].[Position] ([pid], [pname], [basesalary], [allowancesalary], [insurance]) VALUES (N'GD', N'Giám đốc', 4500000, 970000, 0)
INSERT [dbo].[Position] ([pid], [pname], [basesalary], [allowancesalary], [insurance]) VALUES (N'KD', N'Kinh doanh', 4200000, 970000, 441000)
GO
INSERT [dbo].[Timesheet] ([tid], [eid], [date], [status]) VALUES (1, 1, CAST(N'2022-01-01' AS Date), 1)
INSERT [dbo].[Timesheet] ([tid], [eid], [date], [status]) VALUES (2, 1, CAST(N'2022-01-02' AS Date), 1)
INSERT [dbo].[Timesheet] ([tid], [eid], [date], [status]) VALUES (3, 1, CAST(N'2022-01-03' AS Date), 1)
GO
ALTER TABLE [dbo].[Absent]  WITH CHECK ADD  CONSTRAINT [FK_Absent_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Absent] CHECK CONSTRAINT [FK_Absent_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([pid])
REFERENCES [dbo].[Position] ([pid])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Employee]
GO
USE [master]
GO
